.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(248, 248, 248, 0.3);
  line-height: 32px;
  padding-left: 15px;
  color: #FFFFFF;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout{
  height: 100vh;
}